/* .table-users {
  width: 100%;
  background-color: #e9faf8;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #7ea8f8;
  border-style: solid;
  border-radius: 2px;
  color: #000000;
  padding: 5px;
  margin: 1%;
}

.table-users td,
.table-users th {
  border-width: 1px;
  border-color: #7ea8f8;
  border-style: solid;
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
}

.table-users thead {
  background-color: #9fb7f8;
  border-radius: 3px;
}
.table-users a {
  color: rgb(43, 144, 226);
  font-weight: bold;
  text-decoration: none;
}
.table-users a:hover {
  color: #40126b;
}

.ant-pagination a {
  font-size: 20px;
} */

.ant-table-content {
  margin-top: 3%;
}
